.header-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding: 0 2vh;
}

.header-home-title {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 2vh;
}

.hidden-logo {
    display: none;
}

.hb-icon-one,
.hb-icon-two,
.hb-icon-three {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: .5s;
}

.header-navigation-holder {
    display: flex;
    align-items: center;
}

.header-navigation-holder h3 {
    position: absolute;
    z-index: 1;
    right: 80px;
}

.hb-icon-holder {
    cursor: pointer;
    margin-left: 1vh;
    position: absolute;
    z-index: 1;
    right: 40px;
}

.hb-icon-holder.active .hb-icon-two {
    width: 20px;
}

.hb-icon-holder.active .hb-icon-three {
    width: 10px;
}

.header-navigation-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    height: 100vh;
    justify-content: center;
    right: 0;
    width: 0;
    background-color: gray;
    transition: .5s;
}

.header-navigation-links.active {
    width: 200px;
}

.header-navigation-links .navigations-link {
    margin: 4vh 0;
    text-decoration: none;
    display: none;
}

.header-navigation-links.active .navigations-link {
    display: block;
}

.footer-holder {
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: center;
}

.footer-holder a {
    font-family: 'icons_social_media';
    text-decoration: none;
    margin: 0 3vw;
    font-size: 4vh;
}

@media (max-width: 992px) {
    .hidden-logo {
        display: block;
    }

    .header-logo-holder h3 {
        display: none;
    }
}